<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.ParkingSlotMapper">

    <resultMap type="ParkingSlot" id="ParkingSlotResult">
            <result property="parkingSlotId" column="parking_slot_id"/>
            <result property="areaId" column="area_id"/>
            <result property="slotCode" column="slot_code"/>
            <result property="slotStatus" column="slot_status"/>
            <result property="cameraId" column="camera_id"/>
            <result property="delFlag" column="del_flag"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateBy" column="update_by"/>
            <result property="updateTime" column="update_time"/>
            <result property="remark" column="remark"/>
    </resultMap>
        <select id="selectByCameraAndSlotCode"
                resultType="com.ruoyi.biz.domain.ParkingSlot">
                SELECT *
                FROM biz_parking_slot
                WHERE slot_code = #{slotCode}
                  AND camera_id = #{cameraId}
                LIMIT 1
        </select>

</mapper>